<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>ai.openclaw.gateway</string>
    
    <key>Comment</key>
    <string>OpenClaw Gateway (v2026.3.13)</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>1</integer>
    <key>Umask</key>
    <integer>63</integer>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/node</string>
      <string>/Users/fhjtech/.nvm/versions/node/v24.13.1/lib/node_modules/openclaw/dist/index.js</string>
      <string>gateway</string>
      <string>--port</string>
      <string>18789</string>
    </array>
    
    <key>StandardOutPath</key>
    <string>/Users/fhjtech/.openclaw/logs/gateway.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/fhjtech/.openclaw/logs/gateway.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
    <key>HOME</key>
    <string>/Users/fhjtech</string>
    <key>TMPDIR</key>
    <string>/var/folders/0k/y72cv6p174x7g9qtdtw7br6m0000gn/T/</string>
    <key>NODE_EXTRA_CA_CERTS</key>
    <string>/etc/ssl/cert.pem</string>
    <key>NODE_USE_SYSTEM_CA</key>
    <string>1</string>
    <key>PATH</key>
    <string>/Users/fhjtech/.nvm:/Users/fhjtech/.local/bin:/Users/fhjtech/.npm-global/bin:/Users/fhjtech/bin:/Users/fhjtech/.volta/bin:/Users/fhjtech/.asdf/shims:/Users/fhjtech/.bun/bin:/Users/fhjtech/Library/Application Support/fnm/aliases/default/bin:/Users/fhjtech/.fnm/aliases/default/bin:/Users/fhjtech/Library/pnpm:/Users/fhjtech/.local/share/pnpm:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>OPENCLAW_GATEWAY_PORT</key>
    <string>18789</string>
    <key>OPENCLAW_LAUNCHD_LABEL</key>
    <string>ai.openclaw.gateway</string>
    <key>OPENCLAW_SYSTEMD_UNIT</key>
    <string>openclaw-gateway.service</string>
    <key>OPENCLAW_WINDOWS_TASK_NAME</key>
    <string>OpenClaw Gateway</string>
    <key>OPENCLAW_SERVICE_MARKER</key>
    <string>openclaw</string>
    <key>OPENCLAW_SERVICE_KIND</key>
    <string>gateway</string>
    <key>OPENCLAW_SERVICE_VERSION</key>
    <string>2026.3.13</string>
    <key>HARVEY_EMAIL_AUTH</key>
    <string>DSswQ3xnSWXgbkyK</string>
    <key>NODE_OPTIONS</key>
    <string>--max-old-space-size=6144</string>
    </dict>
  </dict>
</plist>
