{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Task Hub Skill API",
    "version": "3.2.11",
    "description": "Public skill contract for execute/poll/presentation/account balance/account ledger via host-managed agent task token."
  },
  "servers": [
    {
      "url": "https://gateway-api.binaryworks.app"
    }
  ],
  "x-portal-actions": {
    "portal.skill.execute": {
      "summary": "Execute capability run via host proxy",
      "method": "POST",
      "path": "/agent/skill/execute",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteOutput"
      },
      "required_scope": "execute"
    },
    "portal.skill.poll": {
      "summary": "Poll run state via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPollInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPollOutput"
      },
      "required_scope": "poll"
    },
    "portal.skill.presentation": {
      "summary": "Fetch presentation payload via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}/presentation",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationOutput"
      },
      "required_scope": "presentation"
    },
    "portal.account.balance": {
      "summary": "Read account points balance via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/balance",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceOutput"
      },
      "required_scope": "account_read"
    },
    "portal.account.ledger": {
      "summary": "Read account points ledger via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/ledger",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerOutput"
      },
      "required_scope": "account_read"
    }
  },
  "x-host-auth-onboarding": {
    "agent_uid_format": "^agent_[a-z0-9][a-z0-9_-]{5,63}$",
    "conversation_id_format": "^[A-Za-z0-9._:-]{8,128}$",
    "bootstrap_on_binding_missing": {
      "trigger": {
        "code": "SYSTEM_NOT_FOUND",
        "message": "agent binding not found"
      },
      "steps": [
        {
          "endpoint": "/agent/install-code/issue",
          "method": "POST",
          "body": {
            "channel": "clawhub"
          }
        },
        {
          "endpoint": "/agent/bootstrap",
          "method": "POST",
          "body": {
            "agent_uid": "<canonical_agent_uid>",
            "install_code": "<install_code_from_previous_step>"
          }
        },
        {
          "endpoint": "/agent/task-token/issue",
          "method": "POST",
          "retry": true
        }
      ]
    },
    "interactive_fallback_authorization_url_template": "https://<host-owned-domain>/agent-auth?agent_uid=<agent_uid>&conversation_id=<conversation_id>"
  },
  "x-agent-invocation-guide": {
    "preferred_entrypoint": "bridge_api",
    "host_bridge_note": "Host bridge entrypoint is host-owned integration code and is not bundled in this published package.",
    "cli_modes": [
      {
        "name": "direct_preinjected_token",
        "command": "AGENT_TASK_TOKEN=<token> node scripts/skill.mjs portal.account.balance '{}'",
        "recommended": false
      }
    ],
    "action_payload_templates": {
      "portal.skill.execute": {
        "capability": "human_detect",
        "input": {
          "image_url": "https://files.example.com/demo.png"
        },
        "request_id": "optional_request_id"
      },
      "portal.skill.poll": {
        "run_id": "run_123"
      },
      "portal.skill.presentation": {
        "run_id": "run_123",
        "channel": "web",
        "include_files": true
      },
      "portal.account.balance": {},
      "portal.account.ledger": {
        "date_from": "2026-03-01",
        "date_to": "2026-03-15"
      }
    },
    "error_handling": [
      {
        "match": {
          "code": "AUTH_UNAUTHORIZED",
          "message_contains": "agent task token is required"
        },
        "host_action": "issue_or_refresh_task_token_then_retry_once"
      },
      {
        "match": {
          "code": "AUTH_UNAUTHORIZED",
          "message_contains": "agent_uid claim format is invalid"
        },
        "host_action": "map_alias_to_canonical_agent_uid_then_reissue_token"
      },
      {
        "match": {
          "code": "SYSTEM_NOT_FOUND",
          "message_contains": "agent binding not found"
        },
        "host_action": "run_binding_bootstrap_once_then_retry_token_issue"
      }
    ],
    "host_token_issue_auth_headers": [
      "X-API-Key: <gateway_api_key> + x-agent-uid: <agent_uid>",
      "Authorization: Bearer <gateway_api_key> + x-agent-uid: <agent_uid>"
    ],
    "bridge_api": {
      "endpoint": "/agent/skill/bridge/invoke",
      "method": "POST",
      "requires_caller_managed_task_token": false,
      "request_body": {
        "action": "portal.account.balance",
        "agent_uid": "support_assistant",
        "conversation_id": "host_session_20260316_opaque_001",
        "payload": {}
      },
      "notes": [
        "Preferred production entrypoint for agent-friendly integration.",
        "agent_uid should be the host-defined stable runtime agent identifier; bridge canonicalizes it server-side per session-scoped owner.",
        "conversation_id should be a host-generated opaque session or install identifier, not a public chat id, raw thread id, or PII.",
        "Public bridge derives session-scoped owner identity from conversation_id and shares one account across agent aliases inside that conversation.",
        "Cross-conversation account continuity requires a trusted host token bridge; public bridge intentionally stays conversation-scoped.",
        "Gateway canonicalizes agent_uid, repairs binding when missing, and issues action-scoped task token internally.",
        "base_url, gateway_api_key, api_key, user_token, agent_task_token, owner_uid_hint, and install_channel overrides are rejected by this bridge endpoint."
      ]
    }
  },
  "paths": {
    "/agent/skill/execute": {
      "post": {
        "summary": "portal.skill.execute",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/agent/skill/runs/{runId}": {
      "get": {
        "summary": "portal.skill.poll",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/agent/skill/runs/{runId}/presentation": {
      "get": {
        "summary": "portal.skill.presentation",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/SKILL.md": {
      "get": {
        "summary": "Read skill markdown (English)"
      }
    },
    "/SKILL.zh-CN.md": {
      "get": {
        "summary": "Read skill markdown (Chinese)"
      }
    },
    "/agent/skill/account/balance": {
      "get": {
        "summary": "portal.account.balance",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/agent/skill/account/ledger": {
      "get": {
        "summary": "portal.account.ledger",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/agent/skill/bridge/invoke": {
      "post": {
        "summary": "Preferred bridge invoke endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "agent_uid",
                  "conversation_id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "portal.skill.execute",
                      "portal.skill.poll",
                      "portal.skill.presentation",
                      "portal.account.balance",
                      "portal.account.ledger"
                    ]
                  },
                  "agent_uid": {
                    "type": "string"
                  },
                  "conversation_id": {
                    "type": "string"
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "expires_in_seconds": {
                        "type": "integer",
                        "minimum": 60,
                        "maximum": 900
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bridge-invoked read/poll/presentation result"
          },
          "202": {
            "description": "Bridge-invoked execute accepted"
          },
          "400": {
            "description": "Invalid bridge request"
          },
          "429": {
            "description": "Bootstrap rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AgentTaskToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Agent-Task-Token",
        "description": "Host-issued short-lived token. Required claims: sub, agent_uid, conversation_id, scope, exp, jti. Required action scopes: execute|poll|presentation|account_read."
      }
    },
    "schemas": {
      "PortalSkillExecuteInput": {
        "type": "object",
        "required": [
          "capability",
          "input"
        ],
        "properties": {
          "capability": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "request_id": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "PortalSkillExecuteOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted"
            ]
          },
          "capability": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "poll_url": {
            "type": "string"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          },
          "reused": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPollInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          }
        }
      },
      "PortalSkillPollOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "terminal": {
            "type": "boolean"
          },
          "service_id": {
            "type": "string"
          },
          "output": {
            "type": "object",
            "additionalProperties": true
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {
                  "recharge_url": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalSkillPresentationInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "enum": [
              "web",
              "telegram"
            ]
          },
          "include_files": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPresentationOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "terminal": {
            "type": "boolean"
          },
          "visual": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalAccountBalanceInput": {
        "type": "object",
        "additionalProperties": true,
        "description": "No input required; payload is optional."
      },
      "PortalAccountBalanceOutput": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "available_points": {
            "type": "number"
          },
          "recharge_url": {
            "type": "string"
          }
        }
      },
      "PortalAccountLedgerInput": {
        "type": "object",
        "properties": {
          "date_from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "date_to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        }
      },
      "PortalAccountLedgerOutput": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    }
  }
}
